# Data Analysis with Pandas

## Date set: Video games sales

## Authon: Hamza Ahmad - Oct 25, 2021

In [33]:
import pandas as pd
vg = pd.read_csv('./vgsales.csv')
vg.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

1. Which company is the most common video game publisher?

*Electronic Arts*

In [34]:
vg.value_counts('Publisher').head(1)

Publisher
Electronic Arts    1351
dtype: int64

2. Whatâ€™s the most common platform?

*DS*

In [35]:
vg.value_counts('Platform').head(1)

Platform
DS    2163
dtype: int64

3. What about the most common genre?

*Action*

In [36]:
vg.value_counts('Genre').head(1)

Genre
Action    3316
dtype: int64

4. What are the top 20 highest grossing games?

In [37]:
vg[['Global_Sales', 'Name']].sort_values('Global_Sales', ascending = False).head(20)

    Global_Sales                                          Name
0          82.74                                    Wii Sports
1          40.24                             Super Mario Bros.
2          35.82                                Mario Kart Wii
3          33.00                             Wii Sports Resort
4          31.37                      Pokemon Red/Pokemon Blue
5          30.26                                        Tetris
6          30.01                         New Super Mario Bros.
7          29.02                                      Wii Play
8          28.62                     New Super Mario Bros. Wii
9          28.31                                     Duck Hunt
10         24.76                                    Nintendogs
11         23.42                                 Mario Kart DS
12         23.10                   Pokemon Gold/Pokemon Silver
13         22.72                                       Wii Fit
14         22.00                                  Wii Fit Plus
15         21.82                            Kinect Adventures!
16         21.40                            Grand Theft Auto V
17         20.81                 Grand Theft Auto: San Andreas
18         20.61                             Super Mario World
19         20.22  Brain Age: Train Your Brain in Minutes a Day

5. For North American video game sales, whatâ€™s the median?

In [38]:
NA_sales = vg.median()['NA_Sales']

bottom =vg.sort_values('NA_Sales', ascending = False)[vg['NA_Sales'] <= NA_sales].tail(5)
top = vg.sort_values('NA_Sales', ascending = False)[vg['NA_Sales'] >= NA_sales].tail(5)
print(top)
print(bottom)

      Rank                                               Name Platform  \
3885  3887                        International Track & Field       PS
6388  6390                   Scooby-Doo! and the Spooky Swamp      PS2
2067  2069  Winning Eleven: Pro Evolution Soccer 2007 (All...     X360
7698  7700                                Shiren the Wanderer      Wii
5715  5717                               Bust-A-Move Universe      3DS

        Year         Genre                               Publisher  NA_Sales  \
3885  1996.0        Sports            Konami Digital Entertainment      0.08
6388  2010.0        Action  Warner Bros. Interactive Entertainment      0.08
2067  2006.0        Sports            Konami Digital Entertainment      0.08
7698  2008.0  Role-Playing                                    Sega      0.08
5715  2011.0        Puzzle                             Square Enix      0.08

      EU_Sales  JP_Sales  Other_Sales  Global_Sales
3885      0.05      0.35         0.03          0.51
6388      0.11      0.00         0.08          0.27
2067      0.90      0.02         0.00          1.00
7698      0.00      0.11         0.01          0.20
5715      0.15      0.06         0.03          0.31
        Rank                              Name Platform    Year         Genre  \
8808    8810  Jikkyou Powerful Pro Yakyuu 2012      PSP  2012.0        Action
8799    8801          Theatrhythm Dragon Quest      3DS  2015.0          Misc
8795    8797               Countdown: The Game       DS  2009.0        Puzzle
13576  13578  Kanuchi: Shiroki Tsubasa no Shou      PS2  2008.0     Adventure
5816    5818                     RPG Tsukuru 2     SNES  1996.0  Role-Playing

                          Publisher  NA_Sales  EU_Sales  JP_Sales  \
8808   Konami Digital Entertainment       0.0      0.00      0.15
8799                    Square Enix       0.0      0.00      0.15
8795                      Mindscape       0.0      0.14      0.00
13576                  Idea Factory       0.0      0.00      0.04
5816            ASCII Entertainment       0.0      0.00      0.31

       Other_Sales  Global_Sales
8808          0.00          0.15
8799          0.00          0.15
8795          0.01          0.15
13576         0.00          0.04
5816          0.00          0.31

/tmp/ipykernel_52530/2133916044.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  NA_sales = vg.median()['NA_Sales']
/tmp/ipykernel_52530/2133916044.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bottom =vg.sort_values('NA_Sales', ascending = False)[vg['NA_Sales'] <= NA_sales].tail(5)
/tmp/ipykernel_52530/2133916044.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top = vg.sort_values('NA_Sales', ascending = False)[vg['NA_Sales'] >= NA_sales].tail(5)

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [39]:
top_selling_NA = vg[vg['Name'] == 'Wii Sports']['NA_Sales']
mean_NA = vg['NA_Sales'].mean()
std_NA = vg['NA_Sales'].std()
number_of_stds = mean_NA + (top_selling_NA - mean_NA) * std_NA
top_selling_NA/std_NA

0    50.803064
Name: NA_Sales, dtype: float64

7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [40]:
#vg.groupby(['Publisher', 'Platform'])['Global_Sales'].mean()[vg['Publisher'] =="Nintendo"]
vg.pivot_table(values="Global_Sales", index="Publisher", columns='Platform').mean()

Platform
2600    0.517673
3DO     0.033333
3DS     0.193518
DC      0.164822
DS      0.140811
GB      0.891126
GBA     0.209740
GC      0.184848
GEN     0.908810
GG      0.040000
N64     0.286545
NES     1.494849
NG      0.063000
PC      0.173105
PCFX    0.030000
PS      0.329174
PS2     0.258122
PS3     0.314658
PS4     0.392761
PSP     0.124085
PSV     0.130871
SAT     0.136042
SCD     0.311667
SNES    0.413558
TG16    0.080000
WS      0.272500
Wii     0.267569
WiiU    0.219399
X360    0.308434
XB      0.144125
XOne    0.291455
dtype: float64

8. Which year shows the most global sales?

In [41]:
vg.groupby(['Year'])['Global_Sales'].count()

Year
1980.0       9
1981.0      46
1982.0      36
1983.0      17
1984.0      14
1985.0      14
1986.0      21
1987.0      16
1988.0      15
1989.0      17
1990.0      16
1991.0      41
1992.0      43
1993.0      60
1994.0     121
1995.0     219
1996.0     263
1997.0     289
1998.0     379
1999.0     338
2000.0     349
2001.0     482
2002.0     829
2003.0     775
2004.0     763
2005.0     941
2006.0    1008
2007.0    1202
2008.0    1428
2009.0    1431
2010.0    1259
2011.0    1139
2012.0     657
2013.0     546
2014.0     582
2015.0     614
2016.0     344
2017.0       3
2020.0       1
Name: Global_Sales, dtype: int64

9. Which region tends to buy the most?

In [42]:
vg[['NA_Sales', 'EU_Sales', 'JP_Sales']].sum()

NA_Sales    4392.95
EU_Sales    2434.13
JP_Sales    1291.02
dtype: float64

10. Sort games by sales.

In [43]:
vg.pivot_table(values="Global_Sales", index="Name").sort_values("Global_Sales", ascending = False)

                          Global_Sales
Name
Wii Sports                       82.74
Mario Kart Wii                   35.82
Wii Sports Resort                33.00
Pokemon Red/Pokemon Blue         31.37
New Super Mario Bros.            30.01
...                                ...
Goku Makaimura Kai                0.01
Blitzkrieg 2 Anthology            0.01
Carmageddon 64                    0.01
Carmageddon: Max Damage           0.01
Pilot Academy                     0.01

[11493 rows x 1 columns]